nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Center align the navigation links */
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    background-color: #555; /* Button background color */
    color: white; /* Text color of the links */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 10px; /* Space between buttons */
    border-radius: 5px; /* Rounded corners for buttons */
}

nav ul li a:hover {
    background-color: #555; /* Background color of the links on hover */
}
.payment-method{
    text-align: center;
}
.hidden {
    display: none;
}

/* Style the label to look like a button */
#confirmation-label {
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Show the label when the checkbox is checked */
#confirmation-checkbox:checked + #confirmation-label {
    display: block;
}