/* CSS for the navigation bar */
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Center align the navigation links */
}

nav ul.navbar li {
    display: inline;
}

nav ul.navbar li a {
    display: inline-block;
    background-color: #555; /* Button background color */
    color: white; /* Text color of the links */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 10px; /* Space between buttons */
    border-radius: 5px; /* Rounded corners for buttons */
}

nav ul.navbar li a:hover {
    background-color: #555; /* Background color of the links on hover */
}
body{
    display:grid;
    gap:5px;

grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [end];
grid-template-rows: [uno] 1fr [dos] 1fr [tres] 1fr [quatro] 1fr [last] 1fr;

justify-items: stretch;
align-items: stretch;
}

.item-1{
    grid-area:body;
    justify-content:space-around;
    grid-column:first, second;
    grid-row:dos, quatro;

}
.item-2{
    grid-area:footer;
    grid-column:first, second;
    grid-row:quatro, last;
}
.item-3{
    grid-area:footer;
    grid-column:second, third;
    grid-row:quatro, last;
}
.item-4{
    grid-area:footer;
    grid-column:third, end;
    grid-row:quatro, last;
}